
body > .play-block {
    position: sticky;
    top: 0;
    z-index: 10;
}

.play-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.9375rem;
    min-height: 4.5rem;
    background-color: #161616;
    border-bottom: 1px solid #000000;
}

.play-block > * {
    margin: auto;
}

.play-block > audio {
    margin-top: 0.75rem;
    width: 50%;
}




.text-09 {
    font-size: 0.8125rem;
}
