
@import '/bolt/elements/root.css';
@import '/bolt/elements/html.css';
@import '/bolt/elements/body.css';
@import '/bolt/elements/a.css';
@import '/bolt/elements/type.css';

@import '/bolt/classes/button.css';
@import '/bolt/classes/list.css';
@import '/bolt/classes/block.css';
@import '/bolt/classes/toggle-block.css';

@import '/player/classes/play-block.css';
@import '/player/classes/album-list.css';

html {
    scroll-padding-top: 3.75rem;
}

html,
body {
    color: #eeeeee;
    background-color: #222222;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

[href] {
    text-decoration: none;
}
